<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
</head>
<body>
<h1>Enter you personal date</h1>
<form method="POST" th:object="${registerForm}" th:action="@{/register}" id="myForm">

    <div class="form_group">
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}"/>
    <th:block th:if="${#fields.hasErrors('username')}">
        <div th:errorclass="invalid-input" th:errors="*{username}"></div>
    </th:block>
    <br>
    </div>

    <div class="form_group">
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}"/>
    <th:block th:if="${#fields.hasErrors('password')}">
        <div th:errorclass="invalid-input" th:errors="*{password}"></div>
    </th:block>
    <br>
    </div>

    <label for="fullname">Full name: </label>
    <input type="text" th:field="*{fullname}"/>
    <th:block th:if="${#fields.hasErrors('fullname')}">
        <div th:errorclass="invalid-input" th:errors="*{fullname}"></div>
    </th:block>
    <br>

    <div class="form_group">
    <label for="city">City: </label>
    <input type="text" th:field="*{city}"/>
    <th:block th:if="${#fields.hasErrors('city')}">
        <div th:errorclass="invalid-input" th:errors="*{city}"></div>
    </th:block>
    <br>
    </div>

    <div class="form_group">
    <label for="street">Street: </label>
    <input type="text" th:field="*{street}"/>
    <th:block th:if="${#fields.hasErrors('street')}">
        <div th:errorclass="invalid-input" th:errors="*{street}"></div>
    </th:block>
    <br>
    </div>
    <input type="submit" value="Register"/>
</form>
</body>
</html>
