<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
</head>
<body>
<h1>Enter you personal date</h1>
<form method="POST" th:object="${registerForm}" th:action="@{/register}" id="myForm">
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">username Error</span>
    <br>

    <label for="password">Password: </label>
    <input type="password" th:field="*{password}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">password Error</span>
    <br>

    <label for="fullname">Full name: </label>
    <input type="text" th:field="*{fullname}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('fullname')}"
          th:errors="*{fullname}">fullname Error</span>
    <br>

    <label for="city">City: </label>
    <input type="text" th:field="*{city}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}">city Error</span>
    <br>

    <label for="street">Street: </label>
    <input type="text" th:field="*{street}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('street')}"
          th:errors="*{street}">street Error</span>
    <br>


    <input type="submit" value="Register"/>
</form>
</body>
</html>
